/* About.css */

/* Style for the heading */
.head {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* Style for the content wrapper */
  .contentWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Style for the image */
  .img {
    width: 300px;
    height: auto;
    margin-right: 20px;
    border-radius: 5px;
  }
  
  /* Style for the paragraph */
  .paragraph {
    font-size: 1rem;
    line-height: 1.6;
    text-align: justify;
  }
  