.paupoop {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px; /* Adjust as needed */
    background-color: rgba(173, 240, 15, 0.8);
    color: rgb(233, 75, 75);
    padding: 0px 10px 10px; /* Adjust as needed */
    margin: 550px 10px 10px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
}

.Addtitle {
    color: rgb(10, 8, 8);
    text-align: center;
    margin: none;
}

.total {
    color: black;
}

.show {
    top: 0px; /* Adjust as needed */
}

.closeBtn {
    position: absolute;
    color: rgb(243, 227, 9);
    top: 10px;
    right: 20px;
    cursor: pointer;
}
.closeBtn:hover{
    background-color: chartreuse;
    width: 50px;
    border-radius: 10px;
}
