.paupoop {
    position: relative;
    /* left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
    max-width: 600px; /* Adjust as needed */
    background-color: rgba(173, 240, 15, 0.8);
    color: rgb(233, 75, 75);
    padding: 0px 10px 10px; /* Adjust as needed */
    /* margin: 550px 10px 10px; */
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
}

.Addtitle {
    color: rgb(10, 8, 8);
    text-align: center;
    margin: none;
}

.total {
    color: black;
}

.show {
    top: 0px; /* Adjust as needed */
}

.closeBtn {
    position: absolute;
    color: rgb(246, 73, 4);
    top: 10px;
    right: 20px;
    cursor: pointer;
}
.closeBtn:hover{
    background-color: chartreuse;
    width: 50px;
    border-radius: 10px;
}
.x1{
  position: relative;
  color: rgb(0, 30, 255);
  top: 15px;
  left: 170px;
  background-color: red;
  border-radius: 10px;
  cursor: pointer;
  width: 10%;
  height: 35px;
  color: white;
  font-size: 20px;
}
.x1:hover{
   background-color: rgb(218, 217, 203);
   width: 10%;
}

.button-container {
    display: flex;
    justify-content: center; /* Buttons ko horizontally center karna */
    margin-top: 10px; /* Optional: Top margin for spacing */
}
.plus,
.minus {
    background-color: rgb(138, 227, 125);
    padding: 12px 20px; /* Padding increase karke buttons ko mote banayein */
    margin: 0 30px; /* Spacing between buttons */
    font-size: 20px; /* Font size increase karne se button bade dikhenge */
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.minus {
    background-color: red;
}
h1{
    color: white;
}


